body
{
	margin: 0;
	padding: 0;
	color: #3949ab;
	background-color: #eee;
	font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

h1,h2,h3,h4,h5,h6
{
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}

h1 { font-size: 3.00em; } /* 36px */
h2 { font-size: 1.75em; } /* 28px */
h3 { font-size: 1.375em; } /* 22px */
h4 { font-size: 1.125em; } /* 18px */
h5 { font-size: 1em; } /* 16px */
h6 { font-size: .875em; } /* 14px */

p
{
	margin: 0 0 1.5em;
	line-height: 1.5;
}

blockquote
{
	padding: 1em 2em;
	margin: 0 0 2em;
	border-left: 5px solid #eee;
}

hr
{
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #ddd;
}

select {
	background-color: #3949ab !important;
	color: #3949ab !important;
}

select option{
	background-color: #3949ab !important;
	color: #3949ab !important;
}

table
{
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid #ddd;
}

th, td
{
	padding: .5em 1em;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

a:link { color: royalblue; }
a:visited { color: purple; }
a:focus { color: black; }
a:hover { color: green; }
a:active { color: red; }

/* -----------------------
Layout styles
------------------------*/

.container
{
	max-width: 70em;
	margin: 0 auto;
	clear: both;
	flex-direction: row;
	text-align: center;
	margin: 0 auto;
	width: 30%;
}

.gridStyle {
    border: 3px solid #3949ab;
    width: 98%; 
    height: 220px;
    color: #3949ab;
    font-size: 12px;
    margin-left: 10px;
}

.header-heading { 
	margin: 0;
}

.nav-bar
{
	background: #000033;
	color: #666;
	padding: 0;
	color: black;
}

.main, .aside
{
	margin-bottom: 1em;
}

.footer
{
	color: #fff;
	background: #000033;
	padding: 1em 1.25em;
	clear: both;
}

.nav
{
	padding: 20px;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	margin: 0 auto;
}

.nav li
{
	display: inline;
	margin: 0;
}

.nav a
{
	display: block;
	padding: .7em 1.25em;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid gray;
}

.nav a:link { color: white; }
.nav a:visited { color: white; }

.nav a:focus
{
	color: black;
	background-color: white;
}

.nav a:hover
{
	color: white;
	background-color: #3949ab;
}

.nav a:active
{
	color: white;
	background-color: red;
}

.newMessage {
	margin: 0 auto;
	width: 50%;
	padding: 50px 0 50px 0;
}

/* Parallax Template */

p {
  line-height: 2rem;
}

.button-collapse {
  color: #3949ab;
}

.input-field label {
     color: #3949ab !important;
}

.input-field .prefix.active {
     color: #3949ab !important;
}

.input-field input[type=email]:focus + label {
    color: #3949ab !important;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #3949ab !important;
    box-shadow: 0 1px 0 0 #3949ab !important;
}

.input-field input[type=password]:focus + label {
    color: #3949ab !important;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid #3949ab !important;
    box-shadow: 0 1px 0 0 #3949ab !important;
}

.input-field input[type=text]:focus + label {
    color: #3949ab !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #3949ab !important;
    box-shadow: 0 1px 0 0 #3949ab !important;
}

/*.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  padding-top: 75px;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}*/

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.parallax img {
	width: 100%;
}

.contactDetailsLabels {
	font-size: 18px;
}

.padIt {
	padding: 10px;
}

.btnMargin {
	margin: 20px;
}

#contactDetailsForm {
	border: 3px solid black;
	padding: 10px;
}

#logo {
	width: 35%;
	height: 15%;
}

#download-button {
	color: white;
}

.logo {
    height: 150px;
    width: 150px;
    margin-top: 30px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 60px;
    text-align: justify-center;
}

.logo img {
   display: block;
   margin: 0 auto;
   height: 150px;
    width: 150px;
}

.logo p {
    font-size: large;
}

.logosplash {
   display: block;
   margin: 0 auto;
   height: 100%;
    width: 100%;
}
    margin: 10px;
}
