<div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s9 m3">
          <div class="icon-block">
          	<div class="wow fadeInLeft">
              <h2 class="center brown-text"><i class="material-icons">email</i></h2>
              <h5 class="center">Send Out Messages</h5>
              <p class="light">Enter all of your debts, and track them by user.  Use your user account to follow all debts owed, including amounts and descriptions.  And, create a message board to quickly see all of your debts an recently sent messages in one place for easy reference.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    new WOW().init();
  });
</script>

