<div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <div class="icon-block">
          	<div class="wow fadeInLeft">
              <h2 class="center indigo-text"><i class="material-icons">people</i></h2>
              <h5 class="center">Maintain Your Contacts</h5>
              <p class="light">Keeping track of your contacts couldn't be easier.  Simply create a user account, and enter your contacts.  After you've entered your contacts, use the search field to find a contact.  You can search on any field in your contact, not just the fields that are displayed on your list of contacts.  It's just that easy!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    new WOW().init();
  });
</script>

