<html>
<body ng-controller="dashboardCtrl" id="dashboard">
  <head>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  </head>
  <a style="float: right; color: white;" href="/logout" class="btn btn-default btn-sm indigo btnMargin">Logout</a>
  <div class="row">
    <h1 class="padIt blue-text accent-4"><em>Hello, {{user.username}}</em></h1>
    <a style="float: right;" data-target="modal3" class="btn-floating updateProf-trigger indigo btnMargin tooltipped" data-position="left" data-delay="50" data-tooltip="Click to add a new contact."><i class="material-icons">add</i></a>
    <div class="input-field col s4">
      <i class="material-icons prefix">search</i>
      <input type="text" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Search on any contact field."autofocus ng-model="filterOptions.filterText"/>
      <label class="active" for="filterText">Search</label>
    </div>
    <div id="modal3" class="modal modal-fixed-footer">         
      <div class="modal-content">
        <div class="row">
          <h4>Create New Contact</h4>
          <div class="input-field col s12">
            <input id="first" autofocus type="text" ng-model="newContact.first">
            <label class="active" for="first"><span class="red-text">* </span>First Name</label>
          </div>
          <div class="input-field col s12">
            <input id="last" type="text" ng-model="newContact.last">
            <label class="active" for="last"><span class="red-text">* </span>Last Name</label>
          </div>
          <div class="input-field col s12">
            <input id="firstAddr" type="text" ng-model="newContact.firstAddr">
            <label class="active" for="firstAddr">First Address</label>
          </div>
          <div class="input-field col s12">
            <input id="secondAddr" type="text" ng-model="newContact.secondAddr">
            <label class="active" for="secondAddr">Second Address</label>
          </div>
          <div class="input-field col s6">
            <input id="city" type="text" ng-model="newContact.city">
            <label class="active" for="city">City</label>
          </div>
          <div class="input-field col s4">
            <input id="state" type="text" ng-model="newContact.state">
            <label class="active" for="state">State/Province</label>
          </div>
          <div class="input-field col s2">
            <input id="postal" type="text" ng-model="newContact.postal">
            <label class="active" for="postal">Postal Code</label>
          </div>
          <div class="input-field col s12">
            <input id="country" type="text" ng-model="newContact.country">
            <label class="active" for="country">Country</label>
          </div>
          <div class="input-field col s6">
            <input id="homePhone" type="text" ng-model="newContact.homePhone">
            <label class="active" for="homephone">Home Phone</label>
          </div>
          <div class="input-field col s6">
            <input id="mobilePhone" type="text" ng-model="newContact.mobilePhone">
            <label class="active" for="mobilePhone">Mobile Phone</label>
          </div>
          <div class="input-field col s6">
            <input id="workPhone" type="text" ng-model="newContact.workPhone">
            <label class="active" for="workPhone">Work Phone</label>
          </div>
          <div class="input-field col s2">
            <input id="workExt" type="text" ng-model="newContact.workExt">
            <label class="active" for="workExt">Work Extension</label>
          </div>
          <div class="input-field col s12">
            <input id="firstEmail" type="email" ng-model="newContact.firstEmail">
            <label class="active" for="firstEmail">First Email</label>
          </div>
          <div class="input-field col s12">
            <input id="secondEmail" type="email" ng-model="newContact.secondEmail">
            <label class="active" for="secondEmail">Second Email</label>
          </div>
          <div class="input-field col s12">
            <input id="company" type="text" ng-model="newContact.company">
            <label class="active" for="company">Company</label>
          </div>
          <div class="input-field col s12">
            <input id="comment" type="text" ng-model="newContact.comment">
            <label class="active" for="comment">Comment</label>
          </div>
          <div class="input-field col s4">
            <input id="linkedin" type="text" ng-model="newContact.linkedin">
            <label class="active" for="linkedin">LinkedIn</label>
          </div>
          <div class="input-field col s4">
            <input id="facebook" type="text" ng-model="newContact.facebook">
            <label class="active" for="facebook">Facebook</label>
          </div>
          <div class="input-field col s4">
            <input id="twitter" type="text" ng-model="newContact.twitter">
            <label class="active" for="twitter">Twitter</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="modal-close btn indigo left" type="submit" ng-click="createNewContact(newContact)">Save
        </button>
        <h6 class="center red-text col s6">Fields preceded by (*) are required.</h6>
        <button class="modal-close btn indigo right" type="submit">Cancel
        </button>
      </div>
    </div>
  </div>

       
    <div class="col s12">
      <div class="wow fadeInUp">
        <p class="gridStyle tooltipped" data-position="top" data-delay="50" data-tooltip="Click on a row to view or edit the contact's details" ng-grid="gridOptions"></p>
      </div>
      <div id="modal4" style="min-width: 800px; max-width: 1200px" class="modal modal-fixed-footer">       
        <div class="modal-content">
          <div class="row">
            <div class="modal-header">
              <h2 class="modal-title">Contact Details</h2>
            </div>  
            <div id="contactDetails">
              <div class="input-field col s12">
                <input id="first" autofocus type="text" ng-model="contact.first" value={{contact.first}}>
                <label class="active" for="first"><span class="red-text">* </span>First Name</label>
              </div>
              <div class="input-field col s12" style="padding-right: 10%;">
                <input id="last" type="text" ng-model="contact.last" value={{contact.last}} name="last" required>
                <label class="active" for="last"><span class="red-text">* </span>Last Name</label>
              </div>
              <div class="input-field col s12">
                <input id="firstAddr" type="text" ng-model="contact.firstAddr" value={{contact.firstAddr}}>
                <label class="active" for="firstAddr">First Address</label>
              </div>
              <div class="input-field col s12">
                <input id="secondAddr" type="text" ng-model="contact.secondAddr" value={{contact.secondAddr}}>
                <label class="active" for="secondAddr">Second Address</label>
              </div>
              <div class="input-field col s6">
                <input id="city" type="text" ng-model="contact.city" value={{contat.city}}>
                <label class="active" for="city">City</label>
              </div>
              <div class="input-field col s4">
                <input id="state" type="text" ng-model="contact.state" value={{contact.state}}>
                <label class="active" for="state">State/Province</label>
              </div>
              <div class="input-field col s2">
                <input id="postal" type="text" ng-model="contact.postal" value={{contact.postal}}>
                <label class="active" for="postal">Postal Code</label>
              </div>
              <div class="input-field col s12">
                <input id="country" type="text" ng-model="contact.country" value={{contact.country}}>
                <label class="active" for="country">Country</label>
              </div>
              <div class="input-field col s6">
                <input id="homePhone" type="text" ng-model="contact.homePhone" value={{contact.homePhone}}>
                <label class="active" for="homephone">Home Phone</label>
              </div>
              <div class="input-field col s6">
                <input id="mobilePhone" type="text" ng-model="contact.mobilePhone" value={{contact.mobilePhone}}>
                <label class="active" for="mobilePhone">Mobile Phone</label>
              </div>
              <div class="input-field col s6">
                <input id="workPhone" type="text" ng-model="contact.workPhone" value={{contact.workPhone}}>
                <label class="active" for="workPhone">Work Phone</label>
              </div>
              <div class="input-field col s2">
                <input id="workExt" type="text" ng-model="contact.workExt" value={{contact.workExt}}>
                <label class="active" for="workExt">Work Extension</label>
              </div>
              <div class="input-field col s12">
                <input id="firstEmail" type="email" ng-model="contact.firstEmail" value={{contact.firstEmail}}>
                <label class="active" for="firstEmail">First Email</label>
              </div>
              <div class="input-field col s12">
                <input id="secondEmail" type="email" ng-model="contact.secondEmail" value={{contact.secondEmail}}>
                <label class="active" for="secondEmail">Second Email</label>
              </div>
              <div class="input-field col s12">
                <input id="company" type="text" ng-model="contact.company" value={{contact.company}}>
                <label class="active" for="company">Company</label>
              </div>
              <div class="input-field col s12">
                <input id="comment" type="text" ng-model="contact.comment" value={{contact.comment}}>
                <label class="active" for="comment">Comment</label>
              </div>
              <div class="input-field col s4">
                <input id="linkedin" type="text" ng-model="contact.linkedin" value={{contact.linkedin}}>
                <label class="active" for="linkedin">LinkedIn</label>
              </div>
              <div class="input-field col s4">
                <input id="facebook" type="text" ng-model="contact.facebook" value={{contact.facebook}}>
                <label class="active" for="facebook">Facebook</label>
              </div>
              <div class="input-field col s4">
                <input id="twitter" type="text" ng-model="contact.twitter" value={{contact.twitter}}>
                <label class="active" for="twitter">Twitter</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer row">
          <button class="modal-close btn indigo left col s2" type="submit" ng-click="updateContact(contact)">Save</button>
          <span class="red-text col s4 valign">Fields preceded by (*) are required.</span>
          <button class="modal-close btn indigo col s2" type="submit">Cancel</button>
          <button class="modal-close btn red right col s2" type="submit" ng-click="deleteContactInit(contact._id)">Delete</button>
        </div>
      </div>
        <br>
        <br>
    </div>
  </div>
  <div class="row">
    <div id="modal5" class="modal">   
        <div class="modal-content">
          <form class="col s12">
            <p>Are you sure you want to delete this contact?</p>
            <div class="row">
              <button class="modal-close btn  indigo left" ng-click="deleteContact(contact._id)" type="submit">YES</button>
              <button class="modal-close btn indigo right" type="submit">NO</button>
            </div>
          </form>
        </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      new WOW().init();
      $('.updateProf-trigger').leanModal({
        dismissible: false,
        opacity: .3,
        in_duration: 300,
        out_duration: 200,
      });
      $('select').material_select();
    });
  </script>
  <script src="./scripts/materialize.min.js"></script>
</body>
</html>