<div class="indigo lighten-3">

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <!-- <div class="icon-block"> -->
            <div class="wow rollIn">
              <img class="logosplash responsive-img" src="/images/simplycontacts.png">
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row center">
        <a href="/#/about" id="download-button" class="btn-large indigo">Learn More...</a>
      </div>
    </div>
  </div>

</div>
<script>
  $(document).ready(function(){
    new WOW().init();
  });
</script>